.register-sec{
    padding: 20px 20px; 
    position:relative;
}

h1{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:50px; 
    text-align: center;
    color: #0069c0;
}

.register-sec h1:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#6ec6ff; 
    display:block; 
    margin-top:15px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto}

.btn-login{background: #0069c0; 
    color:#fff; 
    font-weight:600;
     margin: 20px 20px 20px 50px;
     position: relative;
    }


.container{ 
    position:center;
    background-color: #D3D3D3;
    opacity: 0.8;
     border-radius: 10px; 
     width: 35%; 
     height:100%; 
     padding-top: 5px;
     padding-right: 50px;
     padding-bottom: 10px;
     padding-left: 50px;
     margin:50px auto;
     
    }
  
input{
    margin:10px 10px 10px 10px;
    border-radius: 5px; 
    width: 100%;
    height:70%;
}

.signup_link{
    text-align: center;
}

body{
    background-image: url("https://img.freepik.com/free-photo/nobody-doctors-office-with-medical-equipment-tools_482257-27168.jpg?w=1380&t=st=1707676512~exp=1707677112~hmac=0a88347274393214dd5eeb57b5fd62b31a4ed78bcb91034c3f84c3f1e578db8b");
    background-size: cover; 
}